{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>PopMap Demo</h2>
    </div>

    <p>This is the index page</p>

    <input id="origin-input" class="form-control" type="text" placeholder="Enter an origin location"><br>
    <input id="destination-input" class="form-control" type="text" placeholder="Enter a destination location"><br>

    <button type="submit" class="btn btn-default">Search</button>
{% endblock %}
